.main {
    background-image: url(../images/helimain.jpg);
    background-position: 62% 0;
    background-size: cover;
    color: $primaryColor;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 655px;
    }
    &__title{
        @include text(32px, 39px , 700); 
        color: $primaryColor;
        max-width: 247px;
        margin-top: -6px;
        span {
            color: $accentColor;
        }
    }
    &__price-box {
        height: 93px;
        width: 208px;
        background-image: url(./../images/price-box.svg);
        background-repeat: no-repeat;
        margin: 36px 0 14px;
        display: flex;
        justify-content: space-around;
        padding: 6px 15px;
        margin-left: -5px;
        @include media(sm){
            width: 232px;
            height: 103px;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__priceLabel{
        @include text(18px, inherit, 400);   
    }
    &__price {
        @include text(30px, inherit , 800);
    }
    &__percent {
        border-radius: 50%;
        filter: drop-shadow(0px 4px 15px rgba(255, 255, 255, 0.25)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
        max-height: 47px;
        margin-top: 10px;
        transform: translateX(4px);
        @include media(sm) {
            max-height: 52px;
            width: 52px;
            transform: translateX(-20px);
            -webkit-transform: translateX(-20px);
            -moz-transform: translateX(-20px);
            -ms-transform: translateX(-20px);
            -o-transform: translateX(-20px);
}
    }
    &__btn {
        width: 275px;
        height: 68px;
        border: 3px solid $primaryColor;
        border-radius: 7px;
        background-color: transparent;
        @include text(16px, 20px , 900); 
        color:white;
        filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
        transform: translateY(-6px);
    }
}
