@import "./abstracts/vars";
@import "./abstracts/mixins";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 320px;
    height: 60px;
    margin: 0 auto;
}

@import "./header";