@import "./abstracts/vars";
@import "./abstracts/mixins";
@import "./general/rating";
@import "./general/title";
@import "./general/swiper";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    
}
button {
    background-color: #fff;
    border: none;
}

.container {
    padding: 0 15px;
    @include media(xs) {
        padding: 0 35px;
    }
    @include media(sm) {
        padding: 0 50px;
    }
    @include media(md) {
        padding: 0;
        margin: 0 auto;
        width: 1140px;
    }
}

@import "./blocks/header";
@import "./blocks/main-block";
@import "./blocks/info";
@import "./blocks/gallery";
@import "./blocks/photographer";
@import "./blocks/booking";
@import "./blocks/map";