.btn {
   
    cursor: pointer;
    background: transparent;
    outline: none;
    transition: 1s ease-in-out;
    
  }
  
  
  
  .btn:hover {
    transition: 0.8s ease-in-out;
    background: $accentColor;

  }
  
  
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
