.btn {
   
    cursor: pointer;
    background: transparent;
    outline: none;
    transition: 1s ease-in-out;
    svg {
        position: absolute;
        left: -3px;
        top: -3px;
        fill: none;
        stroke: #fff;
        stroke-dasharray: 250 480;
        stroke-dashoffset: 150;
        transition: 1s ease-in-out;
        width: 304px;
        height: 68px;
        border-radius: 7px;
      }
  }
  
  
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: $accentColor;

    svg {
        stroke: orange;
    }
  }
  
  .btn:hover svg {
    
    stroke-dashoffset: -480;
    
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
