.booking {
    padding-bottom: 45px;
    @include media(md){
        padding-bottom: 82px;
    }
    &__title {
        @include text(26px,32px,400);
        max-width: 100%;
        @include media(xs){
            @include text(26px,38px,400);
            margin-top: 21px;
            max-width: 283px;
            &:after {
                content: ":";
            }
        }
        @include media(sm){
            @include text(20px,30px,400);
            margin: 0;
            margin-top: 50px;
            text-align: left;
        }
        @include media(md){
            @include text(28px,45px,400);
            max-width: 340px;
        }
        @include media(lg){
            @include text(20px,29px,400);
        }

    }
    &__main {
        margin-top: 40px;
        @include media(sm){
            margin-top: 30px;
        }
        @include media(md){
            max-width: 770px;
        }
    }
    &__date {
        display: flex;
        justify-content: center;
        border: 0.5px solid #C7C7C7;
        padding-top: 20px;
        padding-bottom: 16px;
        @include media(xs){
            justify-content: flex-start;
            align-items: center;
            padding-left: 20px;
        }
        &-title {
            @include text(18px,26px,400);
            span {
                @include text(18px,26px,500);
            }
        }
        &-btn {
            cursor: pointer;
            display: none;
            svg {
                width: 35px;
                height: 35px;
                fill:#83888A;
                transition: fill .3s ease-in-out;
                &:hover {
                    fill:$accentColor;
                }
            }
            @include media(xs){
                display: block;
                padding-left: 14px;
            }
        }
    }
    &__info {
        padding-top: 30px;
        padding-bottom: 30px;
        border-left: 0.5px solid #C7C7C7;
        border-right: 0.5px solid #C7C7C7;
        border-bottom: 0.5px solid #C7C7C7;
        &:nth-child(3) {
            border-bottom: none;
        }
        padding-left: 20px;
        @include media(xs){
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &-main {
            @include text(18px,26px,400);
            display: flex;
            flex-direction: column; 
        }

        &-price {
            @include text(18px,22px,600);
            margin-top: 10px;
        }
        &-seat {
            margin-top: 10px;
        }
        &-btn {
            cursor: pointer;
            @include text(14px,17px,400);
            color: #FC9B09;
            padding: 16px 33px;
            margin-top: 20px;
            border: 2px solid #FC9B09;
            border-radius: 5%;
            -webkit-border-radius: 5%;
            -moz-border-radius: 5%;
            -ms-border-radius: 5%;
            -o-border-radius: 5%;
            transition: all 0.4s ease-in-out;

            &:hover {
                background-color: $accentColor;
                color: #fff;
                
            }
            @include media(xs){
                margin-right: 30px;
            }
        }
    }
    &__rating {
        padding-left: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-left: 0.5px solid #C7C7C7;
        border-right: 0.5px solid #C7C7C7;
        @include media(xs){
            border-top: none;
            padding-top: 40px;
        }
    }
}