.footer {
    padding-bottom: 20px;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }
    &__logo {
        align-self: center;
    }

    &__socials {
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        
        &-item {
            
            svg {
                fill:gray;
                max-height: 25px;
                width: 25px;
                transition:fill .3s ease-in-out ;
            }
            
                
                &:first-child {
                margin-left: 0;
                :hover {
                    fill:#5476A4;
                }
            }
            &:nth-child(2){
                :hover {
                    fill:#4A68AD;
                }
            }
            &:last-child {
                :hover {
                    fill:#37373F;
                }
            }
        }
        
    }

    &__language {


        /* styling */
        background-color: white;
        border: none;
        justify-self: end;
        padding-right: 17px;
        max-width: 40px;
        display: inline-block;

        /* reset */

        margin: 0;
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%);

        background-position:
        calc(100% - 5px) calc(0.6em + 2px), 
        calc(100% - 0px) calc(0.6em + 2px), 
        calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
        &:focus {
            background-image:
            linear-gradient(45deg, gray 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, gray 50%);
            
        background-position:
            calc(100% - 0px) 1em,
            calc(100% - 5px) 1em,
            calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
        outline: 0;
        }
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
            }
        

        }
        &__copyright {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            grid-column-start: 1;
            grid-column-end: 3;
               
            &-text {
                &:hover {
                    color:#555555;
                    }
                @include text(14px,17px,400);
                color: #B3B3B3;
                &:last-child {
                    margin-top: 10px;
                }
            }
            &-link{
                text-decoration: none;
                color: inherit;
                
            }
        }
    }