.gallery {
    padding-top: 60px;
    .container {
            padding-right: 0;
        @include media(sm){
            padding-right: 50px;
        }
        @include media(md){
            padding-right: 0;
        }
    }

    &__title {
        @include media(sm){
            @include text(20px,29px,400);
            margin: 0;
            text-align: left;
            &:after {
                content: ":";

            }
        }
    }
    &__photos {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        overflow: scroll;
        gap: 15px;
        margin-top: 32px;
        @include media(sm){
            grid-template-columns: repeat(2, min-content);
            justify-content: center;
            margin-bottom: 45px;
        }
        @include media(md){
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            overflow: initial;

        }
    }
    &__item {
        border-radius: 4px;
        width: 277px;
        height: 197px;
        object-fit: cover;
    }
    &__btn {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: inherit;
        border: none;
        border-bottom: 0.5px solid #C7C7C7;
        padding-bottom: 27px;
        width: 100%;
        @include text(17px,25px,400);
        color: $linkColor;
        margin: 0 auto;
        cursor: pointer;
        @include media(sm){
            display: flex;
        }
        &:before {
            position: relative;
            content: "";
            display: inline-block;
            width: 0.4em;
            height: 0.4em;
            border-right: 0.1em solid #C7C7C7;
            border-top: 0.1em solid #C7C7C7;
            transform: rotate(135deg);
            margin-right: 0.5em;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -o-transform: rotate(135deg);
        }
        &:after {
            position: relative;
            content: "";
            display: inline-block;
            width: 0.4em;
            height: 0.4em;
            border-right: 0.1em solid #C7C7C7;
            border-top: 0.1em solid #C7C7C7;
            transform: rotate(135deg);
            margin-left: 0.5em;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -o-transform: rotate(135deg);
        }          
        
    }
    .btn--show {
        &:after {
            transform: rotate(315deg);
            -webkit-transform: rotate(315deg);
            -moz-transform: rotate(315deg);
            -ms-transform: rotate(315deg);
            -o-transform: rotate(315deg);
        }
        &:before {
            transform: rotate(315deg);
            -webkit-transform: rotate(315deg);
            -moz-transform: rotate(315deg);
            -ms-transform: rotate(315deg);
            -o-transform: rotate(315deg);
        }
    }
    &--hide {
        display: none;
    }
}