.info {
   

    padding-top: 40px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title title"
        "image image"
        "main main"
        "rating rating";
        @include media(md){
            grid-template-areas: 
            "title image"
            "main image"
            "rating rating";
        }
    }
    @include media(sm){
        padding-top: 50px;
    }
    &__title {
        grid-area: title;

    }
    &__list {
        
        margin-top: 30px;
    }
    &__item {
        @include text(14px,20px,400);
        color:$textColor;
        display: flex;
        align-items: center;
        margin-top: 16px;
        &:first-child {
            
            &:before {
                content:  "";
                display: block;
                background-image: url(../images/info-clock.svg);
                width: 32px;
                height: 32px;
                margin-right: 11px;
            }
            
        }
        &:nth-child(2) {
            
            &:before {
                content:  "";
                display: block;
                background-image: url(../images/info-camera.svg);
                width: 35px;
                height: 28px;
                margin-right: 8px;
            }
        }
        &:nth-child(3) {
            
            &:before {
                content:  "";
                display: block;
                background-image: url(../images/info-location.svg);
                width: 33px;
                height: 33px;
                margin-right: 10px;
            }
        }
        &:last-child {
            
            &:before {
                content:"";
                margin-right: 12px;
                background-image: url(../images/info-question.svg);
                width: 31px;
                height: 31px;
            }
        }
    }
    &__main {
        grid-area: main;
    }
    &__text {
        @include text(14px,20px,400);
        color:$textColor;
        margin-top: 30px;
        @include media(xs) {
            @include text(18px,26px,400);
            max-width: 480px;
        }
        @include media(md){
            margin-top: 15px;
        }
    }
    &__image {
        grid-area: image;
        margin-top: 13px;
        position: relative;
        @include media(sm){
            margin-top: 40px;
        }
        @include media(md){
            margin-top: 0;
        }
        &:after {
            content: "";
            position: absolute;
            width: 12px;
            height: 17px;
            bottom: 20px;
            right: 20px;
            background-image: url(../images/info-arrow.svg);
            background-repeat: no-repeat;
            background-size: cover;
            @include media(xs) {
                bottom: 30px;
                right: 30px;
                width: 16px;
                height: 23px;
            }
            @include media(sm){
                right: 40px;
            }
        }
        &-item {
        border-radius: 4px;
        width: 100%;
        height: 197px;
        object-fit: cover;
        @include media(xs){
            height: 340px;
        }
        @include media(sm) {
            height: 437px;
        }
        @include media(md) {
            height: 374px;
        }

        }
    }
    &__rating {
        margin-top: 38px;
        grid-area: rating;
        @include media(md){
            max-width: 550px;
        }
    }
}

