.reviews {
    margin-top: 40px;
    padding-bottom: 44px;
    
    &__wrapper {
        margin-top: 50px;
        padding-bottom: 44px;
        border-bottom: 0.5px solid #C7C7C7;

        @include media(sm){
            display: grid;
            grid-template-columns: 180px 1fr;
            padding-left: 120px;
            padding-right: 38px;
            position: relative;
            border-bottom: none;
            padding-bottom: 0;
        }
        @include media(md){
            max-width: 655px;
            padding-right: 0;
        }

    &--hide {
        display: none;
        @include media(xs){
            display: grid;
        }
    }
       
    }
    &__header {
        display: flex;

    }
    &__title {
        @include media(sm){
            font-size: 20px;
            line-height: 29px;
            font-weight: 400;
            margin: 0;
            text-align: left;
            &:after {
                content:':';
            }
        }
    }
    &__info {
        margin-left: 18px;
        @include media(sm) {
            margin-left: 0;
        }
    }
    &__author {
        @include text(16px,19px,500);
        margin-top: 6px;
        @include media(xs){
            margin-top: 8px;
        }
        @include media(sm){
            margin-top: 11px;
        }

    }
    &__work-position {
        display: inline-block;
        margin-top: 6px;
        @include text(14px,21px,400);
    }
    .rating {
        padding: 0;
        margin-top: 7px;
        border: none;
    }
    &__img {
    
    object-fit: cover;
    border-radius: 50%;
    width: 84px;
    height: 84px;
    @include media(sm){
        position: absolute;
        top: 0;
        left: 0;
        width: 101px;
        height: 101px;
    }
    }
    &__short-text {
        @include text(14px,21px,400);
        color: #B3B3B3;
        display: inline-block;
        margin-top: 24px;
        @include media(sm){
            align-self: end;
        }
        &:before {
            content: "";
            display: inline-block;
            background-size: cover;
            background-image: url('../images/reviews/like.svg');
            width: 15px;
            height: 11px;
        }
    }
    &__content {
        @include media(sm){
            border-bottom: 0.5px solid #C7C7C7;
            grid-column-start: 1;
            grid-column-end: 3;
            padding-bottom: 24px;
        }
        
    }
    &__main-text {
        @include text(14px,21px,400);
        margin-top: 14px;
        padding-bottom: 43px;
        @include media(xs) {
            padding-bottom: 20px;
        }
        @include media(sm){

            margin-top: 20px;
            padding-bottom: 22px;
        }
    }
    &__date {
        @include text(14px,21px,400);
        color: #B3B3B3;
    }
    &__btn {
        @include text(17px,25px,400);
        color: $linkColor;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        cursor: pointer;
        margin-top: 40px;
        &:after {
            position: relative;
            content: "";
            display: inline-block;
            width: 0.4em;
            height: 0.4em;
            border-right: 0.1em solid #C7C7C7;
            border-top: 0.1em solid #C7C7C7;
            transform: rotate(45deg);
            margin-left: 0.5em;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
}
}

}